<h2>Por Nombre de País</h2>
<hr />

<div class="row">
  <div class="col">
    <!--SearchBox-->
    <shared-search-box
      [initialValue]="initialValue"
      (onDebounce)="searchByCountry($event)"
      placeholder="Buscar por nombre del país"
    ></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr />
    <shared-loading-spinner
      *ngIf="isLoading; else countriesTable"
    ></shared-loading-spinner>
    <ng-template #countriesTable>
      <countries-country-table
        [countries]="countries"
      ></countries-country-table>
    </ng-template>
  </div>
</div>
